@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var idToken = ViewData["IDToken"];
}
<h1>Find the ID Token below</h1>
<br />
<br />
<p>@idToken</p>
<br />
<br />
<p>END OF TOKEN</p>

<script>    
    var appURL = "immersifyeducation://immersifydental?idToken=@idToken";
    console.log("ID TOKEN: @idToken");
    console.log("----");
    console.log("APP URL: " + appURL);

    // redirect to deeplink
    document.location = appURL;
</script>
