@{ 
    ViewData["Title"] = "Home Page";
    
    //var testVar = "This is a test!";
    // not sure about these
    //var testReqBody = Context.Request.Body;
    //var testRespBody = Context.Response.Body;

    //var testFromViewData1 = ViewData["TestVar"];
    //var testFromSignIn = ViewData["TEST"];
    //var testFromViewData2 = ViewData["ReqBody"];
    //var testFromViewData3 = ViewData["RespBody"];
    //var postTrigger = ViewData["PostTrigger"];
    //var formDataTest = ViewData["FormData"];

    //var postReqData1 = Context.Request.Form["id_token"];
    //var postReqData2 = Context.Request.QueryString.Value;
    //var postReqData3 = Context.Request.Headers["Content-Type"];
    //var idToken1 = ViewData["IDToken"];
}
<br />
<br />
<br />
<p>
    Redirecting you back to the app now...
</p>
<br />
<br />
<p>
    <button onclick="redirect()">Nothing happening? Click here!</button>
</p>
<script>
    function redirect() {
        //document.getElementById("test2").innerHTML = "Working...";

        // https://login.microsoftonline.com/0721e9db-564b-4941-ac5e-2447794ec2b3/v2.0/.well-known/openid-configuration
        // https://login.microsoftonline.com/0721e9db-564b-4941-ac5e-2447794ec2b3/oauth2/v2.0/authorize
        // redirect to /Home/GetIDToken
    }

    //redirect them to the page that gets the ID Token
    document.location = window.location.href + "/Home/GetIDToken";
</script>
<br />
