@{ 
    ViewData["Title"] = "Home Page"; 
    
}
<br />
<br />
<br />
<p>
    Redirecting you back to the app now...
</p>
<br />
<br />
<br />
<p>
    <button onclick="redirect()">Nothing happening? Click here!</button>
</p>


<script>
    function redirect() {
      //http get
        //var httpClient = function() {
        //    this.get = function(aUrl, aCallback) {
        //        var anHttpRequest = new XMLHttpRequest();
        //        anHttpRequest.onreadystatechange = function() {
        //            if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
        //                aCallback(anHttpRequest.responseText);
        //        }

        //        anHttpRequest.open("POST", aUrl, true );
        //        anHttpRequest.send( null );
        //     }
        //}

        document.getElementById("test2").innerHTML = "Working...";

        // get id_token end point from https://login.microsoftonline.com/0721e9db-564b-4941-ac5e-2447794ec2b3/v2.0/.well-known/openid-configuration
        // https://login.microsoftonline.com/0721e9db-564b-4941-ac5e-2447794ec2b3/oauth2/v2.0/token
        // https://login.microsoftonline.com/0721e9db-564b-4941-ac5e-2447794ec2b3/oauth2/v2.0/authorize
        // can get id_token from above, requires client_id & scope
        // client_id = e99ce01b-5a27-4b4b-98b8-5ffad16418f8
        // scope e1fe6dd8-ba31-4d61-89e7-88639da4683d

        //var client = new httpClient();
        //client.get('https://login.microsoftonline.com/0721e9db-564b-4941-ac5e-2447794ec2b3/oauth2/v2.0/authorize?client_id=e99ce01b-5a27-4b4b-98b8-5ffad16418f8&response_type=id_token&scope=openid', function(response) {
        //    // do something with response
        //    console.log(response);
        //    document.getelementbyid("test").innerhtml = "got response: " + response;
        //    document.getelementbyid("test2").innerhtml = "worked!";

        //    //location.replace("immersifyeducation://immersifydental?idtoken=eyj0exaioijkv1qilcjhbgcioijsuzi1niisimtpzci6ijfmve16ywtpaglsbgffohoyqkvkvlhlv01xbyj9.eyj2zxiioiiyljailcjpc3mioijodhrwczovl2xvz2lulm1py3jvc29mdg9ubgluzs5jb20voteymja0mgqtnmm2ny00yzvilwixmtitmzzhmza0yjy2zgfkl3yyljailcjzdwiioijbqufbqufbqufbqufbqufbqufbqufja3pxrlzyu2ftyuzietc4mmjidgfriiwiyxvkijoinmnimdqwmtgtytnmns00nme3lwi5otutotqwyzc4zjvhzwyziiwizxhwijoxntm2mzyxndexlcjpyxqioje1mzyynzq3mtesim5izii6mtuznji3ndcxmswibmftzsi6ikfizsbmaw5jb2xuiiwichjlzmvycmvkx3vzzxjuyw1lijoiqwjltglabwljcm9zb2z0lmnvbsisim9pzci6ijawmdawmdawltawmdatmdawmc02nmyzltmzmzjly2e3zwe4msisinrpzci6ijkxmjiwndbkltzjnjctngm1yi1imteyltm2ytmwngi2nmrhzcisim5vbmnlijoimtizntiziiwiywlvijoirgyyvvzytdfpecfstunxtvnpskjjrmf0emnhznzgr2hqs3y4ctvnmhg3mzjkujvnqjvcaxn2r1fpn1lxqnlqzdhpuurmcsflr2jjrgfrexa1bw5pcmnkcuhlwvnubhrlcfftuna2qulaogpzin0.1afww-ck5nrowslltm7gzzvdwukqvhsqpm55tqsmvo9y59clhrxpvb8n-55hcr9z6g_31_ubeukoz612i2j_sm9ffshsddjoalqr54cregijvjtms3ekk9a7sjbbcpl1mputlfygow39tfjy7evnw9plwuvrrtgvk7lylprvfzw-ciqw3ghc-t7ik_m_xkr08inerbtaecwhten4chpc4w3jdmw_lixzc48yoq0db1l9-imx98egypfrlbm0ibl5spfzl6jdzirrjou8vecjvj1mq-iuhgt0macxx8jdxylp-kuu2d9mbnkpckjuz7p8gwtl5b7nludh_dmsvipwrw");
        //});


        //return fetch('https://login.microsoftonline.com/0721e9db-564b-4941-ac5e-2447794ec2b3/oauth2/v2.0/authorize',
        //    {
        //        method: 'post',
        //        body: JSON.stringify(transUpdate),
        //        headers: { 'Content-Type': 'application/json' }
        //    })
        //    .then(
        //        response => response.json(),
        //        error => console.log('An error occurred.', error)
        //    )
        //    .then(res =>

        //        dispatch(completeTransactionsSave(res))

        //)

        fetch('https://login.microsoftonline.com/0721e9db-564b-4941-ac5e-2447794ec2b3/oauth2/v2.0/authorize')
            .then(response => response.json())
            .then(data => console.log(data));
    }

    window.onload = redirect;
</script>

<p id="test2"></p>
<p id="test"></p>

